.page-not-found {
  height: 100vh;
  background: #ffffff;
}

.pageNotFound__container {
  max-width: 400px;
  margin: 0 auto;
}

.pageNotFound__title {
  text-align: center;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  padding: 200px 0 5px;
  margin: 0;
}

.pageNotFound__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 100px;
}

.pageNotFound__link {
  display: block;
  max-width: 42px;
  font-weight: 400;
  font-size: 22px;
  line-height: 17px;
  text-decoration: none;
  color: #00a884;
  margin: 0 auto;
}
