.auth {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.auth__container {
  background-color: #ffffff;
  width: 450px;
  padding: 30px;
  border-radius: 8px;
  box-sizing: border-box;
}

.auth__title {
  text-align: center;
  color: #00a884;
  margin: 30px auto;
}

.auth__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.auth__input {
  padding: 10px;
  border: 1px solid #a7dacc;
  border-radius: 8px;
  width: 100%;
}

.auth__input:focus {
  outline: none;
  border: 1px solid #00a884;
}

.auth__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 48px #ffffff inset;
}

::-webkit-input-placeholder {
  color: #b1b1b7;
}
::-moz-placeholder {
  color: #b1b1b7;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #b1b1b7;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: #b1b1b7;
}

.auth__button {
  width: 300px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #00a884;
  color: #ffffff;
  cursor: pointer;
}
